<!DOCTYPE html>
<html>
{% load static from staticfiles %} {% load in_group %}
  <head>
    <title>Генетический реестр пациентов НСО - {% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}other/css.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
     .nav-tabs .disabled a, .nav-tabs .disabled a:hover, .nav-tabs .disabled a:focus {border: none;}
     .alert {width: 580px;}
     .alert p {margin-top: 10px; margin-bottom: 10px;}
    </style>
    {% block extrajs %} {% endblock %} {% block other_static %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Print portfolio information</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {{user.last_name}} {{user.first_name}}.
              <strong><a href="{% url 'logout'%}" class="navbar-link">Log out</a></strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="content" style="padding: 0 20px;">
    {% if messages %}
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% block content %}{% endblock %}    
    </div>
  </body>
</html>
